<%if(typeof (articles) !='undefined' && typeof (articles.list) !='undefined' && articles.list.length> 0){%>
<div class="card-body p-0">
    <div class="table-responsive scrollbar">
        <table class="table mb-0">
            <thead class="text-black bg-200">
                <tr>
                    <th class="align-middle">Tiêu đề</th>
                    <th class="align-middle">Chuyên mục </th>
                    <th class="align-middle">Ảnh</th>
                    <th class="align-middle">Url</th>
                    <th class="align-middle">Nháp</th>
                    <th class="align-middle white-space-nowrap pe-3">Ngày tạo</th>
                    <th class="text-end" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <%if(typeof (articles) !='undefined' && typeof (articles.list) !='undefined' &&
                articles.list.length> 0) { for(var i=0; i<articles.list.length; i++){
                        const isDraft = typeof (articles.list[i].isDraft) !='undefined' &&
                        articles.list[i].isDraft %>
                        <tr>
                            <th class="align-middle">
                                <%= articles.list[i].title %>
                            </th>
                            <td class="align-middle">
                                <%= articles.list[i].subCategory ? articles.list[i].subCategory.map(c => c.name).join(', ') : '' %>
                            </td>
                            <td class="align-middle">
                                <%if(typeof (articles.list[i].image) !='undefined' &&
                                    articles.list[i].image.trim().length> 0){%>
                                    <div class="file-thumbnail">
                                        <img class="border h-100 w-100 fit-cover rounded-2 image-cover"
                                            src="<%= stringHelpers.getSlug(articles.list[i].image) %>"
                                            alt="" />
                                    </div>
                                    <%} %>
                            </td>
                            <td class="align-middle">
                                <a href="<%= stringHelpers.getSlug(articles.list[i].slug) %>"
                                    title="<%= articles.list[i].name %>" target="_blank">
                                    <%= stringHelpers.getFullSlug(articles.list[i].slug) %>
                                </a>
                            </td>
                            <td class="align-middle">
                                <div class="form-check form-switch">
                                    <%if(isDraft){%>
                                        <input class="form-check-input draft" type="checkbox" checked value="1" data-ajax="true" data-url="/stv/article/recover/<%= articles.list[i]._id %>" data-method="PATCH" />
                                    <%} else {%>
                                        <input class="form-check-input draft" type="checkbox"  value="1" data-ajax="true" data-url="/stv/article/draft/<%= articles.list[i]._id %>" data-method="PATCH" />
                                    <%}%>
                                </div>
                            </td>
                            <td class="align-middle white-space-nowrap text-end pe-3">
                                <%= articles.list[i].createdAt.toLocaleString('en-GB', {
                                    hour12: false, }) %>
                            </td>
                            <td class="text-end">
                                <div>
                                    <button
                                        data-url="/stv/article/edit/<%= articles.list[i]._id %>"
                                        data-method="PUT" data-modal-size="modal-xl" data-bs-target="#modal" class="btn btn-link p-0 popup"
                                        type="button" title="Sửa">
                                        <svg class="svg-inline--fa fa-edit fa-w-18 text-500"
                                            aria-hidden="true" focusable="false"
                                            data-prefix="fas" data-icon="edit" role="img"
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 576 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <%} }%>
            </tbody>
        </table>
    </div>
</div>
<%- include('../partials/pagination', { pages: articles.pages, currentPage: articles.currentPage}) %>
<%}%>