<div class="container-fluid" data-layout="container">
  <div class="row flex-center min-vh-100 py-6">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
      <div class="d-flex flex-center mb-4">
        <img class="me-2" src="/images/logo.svg" alt="saotuvi.com" height="36" />
      </div>
      <div class="card">
        <div class="card-body p-4 p-sm-5">
          <div class="row flex-between-center mb-2">
            <div class="col-auto">
              <h5>Đăng nhập hệ thống quản trị nội dung</h5>
              <% if (typeof (message) != 'undefined' && message.trim().length > 0) { %>
              <label class="form-check-label mb-0 text-danger">
                <%= message %>
              </label>
              <%}%>
            </div>
          </div>
          <form action="/stv/auth/login" method="post">
            <div class="mb-3">
              <input class="form-control" type="text" name="username" value="<%= dataInput.username && dataInput.username %>"
                placeholder="Tên truy cập" />
              <label class="form-check-label mb-0 text-danger">
                <%= error.username && error.username.msg %>
              </label>
            </div>
            <div class="mb-3">
              <input class="form-control" type="password" name="password"
                value="<%= dataInput.password && dataInput.password %>" placeholder="Mật khẩu" />
              <label class="form-check-label mb-0 text-danger">
                <%= error.password && error.password.msg %>
              </label>
            </div>
            <div class="row flex-between-center">
              <div class="col-auto">
                <div class="form-check mb-0">
                  <input class="form-check-input" type="checkbox" id="basic-checkbox" checked="checked" />
                  <label class="form-check-label mb-0" for="basic-checkbox">Ghi nhớ đăng nhập</label>
                </div>
              </div>
            </div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Đồng
                ý</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<% if (typeof (message) != 'undefined' && message.length> 0) { %>
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
      <div class="toast fade" id="liveToast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header bg-primary text-white"><strong
                  class="me-auto">Bootstrap</strong><small>11 mins
                  ago</small><button class="btn-close btn-close-white" type="button"
                  data-bs-dismiss="toast" aria-label="Close"></button></div>
          <div class="toast-body"><%- message %></div>
      </div>
  </div>
  <% } %>