<div class="card-body p-0">
    <div class="table-responsive scrollbar">
        <table class="table mb-0">
            <thead class="text-black bg-200">
                <tr>
                    <th class="align-middle">Tên</th>
                    <th class="align-middle">Mô tả </th>
                    <th class="align-middle">Hình ảnh</th>
                    <th class="align-middle">Url</th>
                    <th class="align-middle">Chuyên mục cha</th>
                    <th class="align-middle">Đã xóa</th>
                    <th class="align-middle white-space-nowrap pe-3">Ngày tạo</th>
                    <!-- <th class="align-middle white-space-nowrap pe-3">Ngày xóa</th> -->
                    <th class="text-end" scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody id="bulk-select-body">
                <%if(typeof (data) !='undefined' && data) { for(var i=0; i<data.length; i++){
                    const isDeleted = typeof (data[i].isDeleted) && data[i].isDeleted %>
                    <tr>
                        <th class="align-middle">
                            <%= data[i].name %>
                        </th>
                        <td class="align-middle">
                            <%= data[i].description %>
                        </td>
                        <td class="align-middle">
                            <%if(typeof (data[i].image) !='undefined' && data[i].image.trim().length> 0){%>
                                <div class="file-thumbnail">
                                    <img class="border h-100 w-100 fit-cover rounded-2 image-cover"
                                        src="<%= stringHeplers.getSlug(data[i].image) %>" alt="" />
                                </div>
                                <%} %>
                        </td>
                        <td class="align-middle">
                            <a href="<%= stringHeplers.getSlug(data[i].slug) %>" title="<%= data[i].name %>"
                                target="_blank">
                                <%= stringHeplers.getFullSlug(data[i].slug) %>
                            </a>
                        </td>
                        <td class="align-middle">
                            <%= data[i].parent !=null ? data[i].parent.name : '' %>
                        </td>
                        <td class="align-middle">
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" <%=isDeleted ? `checked=${ data[i].isDeleted }` : '' %> disabled="" />
                            </div>
                          </td>
                          <td class="align-middle white-space-nowrap text-end pe-3">
                            <%= data[i].createdAt.toLocaleString('en-GB', { hour12: false, }) %>
                          </td>
                          <!-- <td class="align-middle white-space-nowrap text-end pe-3">
                            <%= typeof (data[i].deletedAt) != 'undefined' ? data[i].deletedAt.toLocaleString('en-GB', { hour12: false, }) : ''%>
                          </td> -->
                        <td class="text-end">
                            <div>
                                <button data-url="/stv/category/edit/<%= data[i]._id %>" data-method="PUT"
                                  class="btn btn-link p-0 popup" type="button" title="Sửa">
                                  <svg class="svg-inline--fa fa-edit fa-w-18 text-500" aria-hidden="true"
                                    focusable="false" data-prefix="fas" data-icon="edit" role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                      d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z">
                                    </path>
                                  </svg>
                                </button>
                                <%if(isDeleted){%>
                                  <button class="btn btn-link p-0 ms-2" type="button" data-ajax="true"
                                  data-url="/stv/category/recover/<%= data[i]._id %>" data-method="PATCH" data-bind="/stv/category/binddata" title="Phục hồi dữ liệu">
                                  <svg class="svg-inline--fa fa-undo-alt fa-w-14 text-500" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="undo-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M255.545 8c-66.269.119-126.438 26.233-170.86 68.685L48.971 40.971C33.851 25.851 8 36.559 8 57.941V192c0 13.255 10.745 24 24 24h134.059c21.382 0 32.09-25.851 16.971-40.971l-41.75-41.75c30.864-28.899 70.801-44.907 113.23-45.273 92.398-.798 170.283 73.977 169.484 169.442C423.236 348.009 349.816 424 256 424c-41.127 0-79.997-14.678-110.63-41.556-4.743-4.161-11.906-3.908-16.368.553L89.34 422.659c-4.872 4.872-4.631 12.815.482 17.433C133.798 479.813 192.074 504 256 504c136.966 0 247.999-111.033 248-247.998C504.001 119.193 392.354 7.755 255.545 8z"></path></svg>
                                </button>
                                <%}else{%>
                                  <button class="btn btn-link p-0 ms-2" type="button" data-ajax="true"
                                  data-url="/stv/category/delete/<%= data[i]._id %>" data-method="PATCH" data-bind="/stv/category/binddata" title="Xóa">
                                  <svg class="svg-inline--fa fa-trash-alt fa-w-14 text-500" aria-hidden="true"
                                    focusable="false" data-prefix="fas" data-icon="trash-alt" role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                      d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z">
                                    </path>
                                  </svg>
                                </button>
                                <%}%>
                              </div>
                        </td>
                    </tr>
                    <%} }%>
            </tbody>
        </table>
    </div>
</div>