<div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
    <h4 class="mb-1">Thêm chuyên mục </h4>
</div>
<div class="p-4">
    <form action="/stv/category/create" method="put" data-ajax="true">
        <div class="card-body">
            <div class="row gx-2">
                <div class="col-sm-6 mb-3"><label class="form-label" for="start-date">Tên chuyên mục</label>
                    <input class="form-control to-slug" name="name" type="text" placeholder="Tên chuyên mục" />
                    <label for="name" class="form-check-label mb-0 text-danger"></label>
                </div>
                <div class="col-sm-6 mb-3"><label class="form-label" for="start-time">Mô tả</label>
                    <input class="form-control" name="description" type="text" placeholder="Mô tả" />
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="form-label" for="end-date">Url</label>
                    <input class="form-control get-slug" name="slug" type="text" placeholder="Url chuyên mục" />
                    <label for="slug" class="form-check-label mb-0 text-danger"></label>
                </div>
                <div class="col-sm-6 mb-3"><label class="form-label" for="end-time">Chuyên mục cha</label>
                    <select class="form-select" name="parent">
                        <option value="">...</option>
                        <%if (typeof (data) !='undefined' && data.length> 0) {
                            for(var index = 0; index < data.length; index ++) {%>
                                <option value="<%= data[index]._id %>">
                                    <%= data[index].name %>
                                </option>
                                <%} }%>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label class="form-label">Thứ tự hiển thị</label>
                    <input class="form-control" name="displayOrder" type="number" placeholder="Thứ tự hiển thị" />
                </div>
                <div class="col-sm-6">
                    <label class="form-label" for="time-zone">Hình ảnh</label>
                    <div class="d-flex mb-3 hover-actions-trigger align-items-center">
                        <div class="file-thumbnail">
                            <img class="border h-100 w-100 fit-cover rounded-2 image-cover" src="" alt="" />
                            <input class="form-control" name="image" type="hidden" />
                        </div>
                        <div class="ms-3 flex-shrink-1 flex-grow-1">
                            <div class="hover-actions end-0 top-50 translate-middle-y">
                                <!-- <a class="btn btn-light border-300 btn-sm me-1 text-600" data-bs-toggle="tooltip"
                                    data-bs-placement="top" href="/admin/img/icons/cloud-download.svg"
                                    download="download" aria-label="Download" data-bs-original-title="Download">
                                    <img src="/admin/img/icons/cloud-download.svg" alt="" width="15">
                                </a> -->
                                <button class="btn btn-light border-300 btn-sm me-1 text-600 shadow-none select-media"
                                    data-url="/stv/media" type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                                    aria-label="Edit" data-bs-original-title="Edit">
                                    <img src="/admin/img/icons/edit-alt.svg" alt="" width="15">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="border-bottom border-dashed my-3"></div>
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="form-label">Controller / Action</label>
                    <input class="form-control" name="controllerAction" type="text" placeholder="Controller / Action" />
                    <!-- <button class="btn btn-link btn-sm btn p-0" type="button">Online Event</button> -->
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="form-label">Tiêu đề SEO</label>
                    <input class="form-control" name="metaTitle" type="text" placeholder="Tiêu đề SEO" />
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="form-label">Mô tả SEO</label>
                    <input class="form-control" name="metaDescription" type="text" placeholder="Mô tả SEO" />
                </div>

                <div class="col-sm-6 mb-3">
                    <label class="form-label">Từ khóa SEO</label>
                    <input class="form-control" name="metaKeywords" type="text" placeholder="Từ khóa SEO" />
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="form-label">Thẻ H1</label>
                    <input class="form-control" name="h1Tag" type="text" placeholder="Thẻ H1" />
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="form-label">Thẻ Canonical</label>
                    <input class="form-control" name="canonical" type="text" placeholder="Thẻ Canonical" />
                </div>
            </div>
        </div>
    </form>
</div>



<!-- <div class="modal-header px-5 position-relative modal-shape-header bg-shape">
    <div class="position-relative z-index-1 light">
        <h4 class="mb-0 text-white" id="authentication-modal-label">Tạo chuyên mục</h4>
    </div><button class="btn-close btn-close-white position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="modal"
        aria-label="Close"></button>
</div>
<div class="modal-body py-4 px-5">
    <form action="/stv/category/create" method="put" data-ajax="true">
        <div class="mb-2">
            <label class="form-label" for="modal-auth-email">Tên chuyên mục</label>
            <input class="form-control" name="name" value="" type="text" autocomplete="off" />
            <label for="name" class="form-check-label mb-0 text-danger"></label>
        </div>
        <div class="mb-2">
            <label class="form-label" for="modal-auth-email">Mô tả</label>
            <input class="form-control" name="description" value="" type="text" autocomplete="off" />
            <label for="description" class="form-check-label mb-0 text-danger"></label>
        </div>
        <div class="mb-2">
            <label class="form-label" for="modal-auth-email">Url</label>
            <input class="form-control" name="slug" value="" type="text" autocomplete="off" />
            <label for="slug" class="form-check-label mb-0 text-danger"></label>
        </div>
        <div class="mb-2">
            <label class="form-label" for="modal-auth-email">Chuyên mục cha</label>
            <select class="form-control" name="parent">
                <option value="">...</option>
                <%if (typeof (data) !='undefined' && data.length> 0) {
                    for(var index = 0; index < data.length; index ++) {%>
                        <option value="<%= data[index]._id %>">
                            <%= data[index].name %>
                        </option>
                        <%} }%>
            </select>
        </div>
        <div class="mb-2">
            <label class="form-label" for="modal-auth-email">Hình ảnh</label>
            <div class="d-flex mb-3 hover-actions-trigger align-items-center">
                <div class="file-thumbnail"><img class="border h-100 w-100 fit-cover rounded-2"
                        src="/admin/img/products/5-thumb.png" alt="image"></div>
                <div class="ms-3 flex-shrink-1 flex-grow-1">
                    <h6 class="mb-1"><span class="stretched-link text-900 fw-semi-bold">apple-smart-watch.png</span>
                    </h6>
                    <div class="hover-actions end-0 top-50 translate-middle-y">
                        <a class="btn btn-light border-300 btn-sm me-1 text-600" data-bs-toggle="tooltip"
                            data-bs-placement="top" href="/admin/img/icons/cloud-download.svg" download="download"
                            aria-label="Download" data-bs-original-title="Download"><img
                                src="/admin/img/icons/cloud-download.svg" alt="" width="15"></a>
                        <button class="btn btn-light border-300 btn-sm me-1 text-600 shadow-none select-image"
                            data-url="/stv/media" type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                            aria-label="Edit" data-bs-original-title="Edit"><img src="/admin/img/icons/edit-alt.svg"
                                alt="" width="15"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2">
            <label class="form-label" for="modal-auth-email">Controller/Action</label>
            <input class="form-control" name="controllerAction" value="" type="text" autocomplete="off" />
        </div>
        <%- include('../partials/metadata') %>
            <div class="mb-3"><button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Lưu thông
                    tin</button></div>
    </form>
</div> -->