<div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
    <h4 class="mb-1">Thêm menu </h4>
</div>
<div class="p-4">
    <form action="/stv/menu/create" method="put" data-ajax="true">
        <div class="card-body">
            <div class="row gx-2">
                <div class="col-sm-6 mb-3"><label class="form-label" for="start-date">Tên menu</label>
                    <input class="form-control to-slug" name="name" type="text" placeholder="Tên menu" />
                    <label for="name" class="form-check-label mb-0 text-danger"></label>
                </div>
                <div class="col-sm-6 mb-3"><label class="form-label" for="start-time">Mô tả</label>
                    <input class="form-control" name="description" type="text" placeholder="Mô tả" />
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="form-label" for="end-date">Url</label>
                    <input class="form-control get-slug" name="slug" type="text" placeholder="Url" />
                    <label for="slug" class="form-check-label mb-0 text-danger"></label>
                </div>
                <div class="col-sm-6 mb-3"><label class="form-label" for="end-time">Menu cha</label>
                    <select class="form-select" name="parent">
                        <option value="">...</option>
                        <%if (typeof (data) !='undefined' && typeof (data.menus) !='undefined' && data.menus.length> 0) {
                            for(var index = 0; index < data.menus.length; index ++) {%>
                                <option value="<%= data.menus[index]._id %>">
                                    <%= data.menus[index].name %>
                                </option>
                                <%} }%>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label class="form-label">Thứ tự hiển thị</label>
                    <input class="form-control" name="displayOrder" type="number" placeholder="Thứ tự hiển thị" />
                </div>
                <div class="col-sm-3">
                    <label class="form-label" for="time-zone">Hình ảnh</label>
                    <div class="d-flex mb-3 hover-actions-trigger align-items-center">
                        <div class="file-thumbnail">
                            <img class="border h-100 w-100 fit-cover rounded-2 image-cover" src="<%= constants.NOIMAGE_PATH%>" alt="thumb" />
                            <input class="form-control" name="image" type="hidden" />
                        </div>
                        <div class="ms-3 flex-shrink-1 flex-grow-1">
                            <div class="hover-actions end-0 top-50 translate-middle-y">
                                <button class="btn btn-light border-300 btn-sm me-1 text-600 shadow-none popup" data-modal="media-modal"
                                    data-url="/stv/media" type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                                    aria-label="Edit" data-bs-original-title="Edit">
                                    <img src="/admin/img/icons/edit-alt.svg" alt="" width="15">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-12">
                    <div class="border-bottom border-dashed my-3"></div>
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="form-label">Chuyên mục</label>
                    <select class="form-select" name="category">
                        <option value="">...</option>
                        <%if (typeof (data) !='undefined' && typeof (data.categories) !='undefined' && data.categories.length> 0) {
                            for(var index = 0; index < data.categories.length; index ++) {%>
                                <option value="<%= data.categories[index]._id %>">
                                    <%= data.categories[index].name %>
                                </option>
                                <%} }%>
                    </select>
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="form-label">Vị trí</label>
                    <select name="position" class="form-select">
                        <option value="TOP">Trên</option>
                        <option value="BOTTOM">Dưới</option>
                        <option value="LEFT">Trái</option>
                        <option value="RIGHT">Phải</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>