<div class="card-body p-0">
    <div class="table-responsive scrollbar">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Tên</th>
                    <th scope="col">Dung lượng</th>
                    <th scope="col">Loại file</th>
                    <th scope="col"> </th>
                    <th scope="col">Ngày tạo</th>
                </tr>
            </thead>
            <tbody>
                <%if(typeof (data) !='undefined' && typeof (data.medias) !='undefined' && data.medias.length> 0) {
                    for(var index = 0; index < data.medias.length; index ++){ %>
                        <tr class="hover-actions-trigger">
                            <td class="align-middle text-nowrap">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-xl">
                                        <img class="rounded-circle"
                                            src="<%= stringHelpers.getSlug(data.medias[index].path) %>"
                                            alt="<%=data.medias[index].name%>" />
                                    </div>
                                    <div class="ms-2">
                                        <%=data.medias[index].name%>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle text-nowrap">
                                <%= stringHelpers.getFileSize(data.medias[index].size) %>
                            </td>
                            <td class="align-middle text-nowrap">
                                <%= data.medias[index].contentType %>
                            </td>
                            <td class="w-auto">
                                <div class="btn-group btn-group hover-actions end-0 me-4" style="position: absolute;">
                                    <button class="btn btn-light choose-image" type="button" data-bs-toggle="tooltip"
                                        data-bs-placement="top" data-name="<%= data.medias[index].name %>"
                                        data-path="<%= data.medias[index].path %>" title="Chọn">
                                        <span class="fas fa-check"></span>
                                    </button>
                                </div>
                            </td>
                            <td class="align-middle text-nowrap">
                                <%=data.medias[index].createdAt.toLocaleString('en-GB', { hour12: false, }) %>
                            </td>
                        </tr>
                        <%} }%>
            </tbody>
        </table>
    </div>
</div>
<%- include('../partials/paginationAjax') %>